<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>MLM Binary</title>
  <link rel="stylesheet" href="/public/style.css"/>
</head>
<body>
  <nav>
    <a href="/login">Login</a>
  </nav>
  <main>
    <h2>Login</h2>
    <form method="post" action="/login">
      <div><label>Member Code: <input name="member_code" /></label></div>
      <div><label>Password: <input type="password" name="password" /></label></div>
      <div><button type="submit">Login</button></div>
      <% if (error) { %><p style="color:red"><%= error %></p><% } %>
    </form>
  </main>
</body>
</html>
